 .mapClass {
     position: absolute;
     top: 0px;
     left: 0;
     bottom: 0px;
     right: 0;
     z-index: 99;
 }
 
 .filtersClass{
     position: fixed;
     z-index: 999;
     left: 10px;
     top: 0px;
     background-color: #F0EBEB;
 }
 
.group_map_gui {
    width: 275px;
}


