 .map-class {
     position: absolute;
     top: 0px;
     left: 0;
     bottom: 0px;
     right: 0;
     z-index: 99;
 }

 .gui-main {
     z-index: 999;
     background-color: #473C3C;
     color: #CFCFCF;
     padding-bottom: 0px;
     margin-bottom: 0px;
     max-width: 320px;
     min-width: 320px;
 }
 
 #applicationTitle {
     display: inline-block;
     width: 85%;
     text-align: center;
 }
 
 .btn-rev {
     color: white !important;
     background-color: #A8A6A6 !important;
     border-width: 2px !important;
     padding-top: 4px;
 }
 

 #planNewTripButton{
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
 }
 
 .header-item {
     border: solid;
     border-width: 2px;
     border-radius: 3px;
     border-color: #CBC9C9;
     padding: 1px;
     padding-top: 6px;
     padding-bottom: 9px;
     margin-top: 7px;
     margin-bottom: 5px;
 }
 
 .grid-item {
     border: solid;
     border-width: 2px;
     border-radius: 3px;
     border-color: #CBC9C9;
     padding: 1px;
     margin-top: 3px;
 }
 
 #previousStepButton {
     width: 132px !important;
 }
 
 .zero-padding {
     margin-left: 0px !important;
     margin-right: 0px !important;
     padding-left: 0px !important;
     padding-right: 0px !important;
 }
 
 .custom-padding {
     margin-left: 2px;
     margin-right: 2px;
     padding-left: 2px !important;
     padding-right: 2px !important;
 }
 
 .group-map-gui {
     margin-top: 5px;
 }

 .selected-char{
   font-weight: bold;
   color: #FEEE81;
 }

 .normal-char{
     font-weight: bold;
     color: #CFCFCF;
 }
 
 .msg-normal{
     font-weight: bold;
     color: #66D07C;
 }

 .msg-warning{
      font-weight: bold;
     color: #FDB812;
 }

 .list-of-items {
     margin-bottom: 2px !important;
 }

.clickable{
     cursor: pointer;
}