 .map-class {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     z-index: 99;
 }
 
 .gui-main {
     z-index: 999;
     background-color: #473C3C;
     color: #CFCFCF;
     width: 320px;
 }
 
 .custom-padding {
     margin-left: 2px;
     margin-right: 2px;
     padding-left: 2px !important;
     padding-right: 2px !important;
 }
 
 #applicationTitle {
     display: inline-block;
     width: 86%;
     text-align: center;
     font-weight: bold;
     font-size: 16px;
 }
 
 .btn-rev {
     color: white !important;
     background-color: #A8A6A6 !important;
     border-width: 2px !important;
     padding-top: 4px;
 }
 
 #planNewTripButton {
     width: 100%;
     text-align: center;
     margin-bottom: 5px;
 }
 
 .grid-item {
     border: solid;
     border-width: 2px;
     border-radius: 3px;
     border-color: #CBC9C9;
     display: block;
 }
 
 .selected-char {
     font-weight: bold;
     color: #FEEE81;
 }
 
 .normal-char {
     font-weight: bold;
     color: #CFCFCF;
 }

 /* phone  */
 @media (max-width: 500px) {
     .grid-item {
         padding: 3px;
         margin-top: 3px;
         font-size: 18px;
     }
     .selected-char {
         font-size: 19px;
     }
     .normal-char {
         font-size: 19px;
     }
 }

 /* Tablet */
 @media (min-width: 501px) {
     .grid-item {
         padding: 3px;
         margin-top: 3px;
         font-size: 17px;
     }
     .selected-char {
         font-size: 17px;
     }
     .normal-char {
         font-size: 17px;
     }
 }
 
 /* Desktop */
 @media (min-width: 980px) {
     .grid-item {
         padding: 1px;
         margin-top: 3px;
         font-size: 16px;
     }
     .selected-char {
         font-size: 16px;
     }
     .normal-char {
         font-size: 16px;
     }
 }
 
 #previousStepButton {
     width: 132px !important;
 }
 
 .group-map-gui {
     margin-top: 5px;
 }
 
 .msg-normal {
     font-weight: bold;
     font-size: 16px;
     color: #66D07C;
 }
 
 .msg-warning {
     font-weight: bold;
     font-size: 16px;
     color: #FDB812;
 }
 
 .list-of-items {
     margin-bottom: 2px !important;
 }
 
 .clickable {
     cursor: pointer;
 }