.map-class {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
}

.gui-main {
    z-index: 999;
    background-color: #473c3c;
    color: #CFCFCF;
    width: 320px;
}

.custom-padding {
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.application-title-style {
    display: inline-block;
    width: 86%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.btn-rev {
    color: white;
    background-color: #a8a6a6;
    border-width: 2px;
    padding-top: 4px;
}

.plan-new-trip-button-style {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

.grid-item {
    border: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: #cbc9c9;
    display: block;
}

.selected-char {
    font-weight: bold;
    color: #feee81;
}

.normal-char {
    font-weight: bold;
    color: #cfcfcf;
}

/* phone  */
@media (max-width: 500px) {
    .grid-item {
        padding: 3px;
        margin-top: 3px;
        font-size: 18px;
    }
    .selected-char {
        font-size: 19px;
    }
    .normal-char {
        font-size: 19px;
    }
}


/* Tablet */

@media (min-width: 501px) {
    .grid-item {
        padding: 3px;
        margin-top: 3px;
        font-size: 17px;
    }
    .selected-char {
        font-size: 17px;
    }
    .normal-char {
        font-size: 17px;
    }
}


/* Desktop */

@media (min-width: 980px) {
    .grid-item {
        padding: 1px;
        margin-top: 3px;
        font-size: 16px;
    }

    .selected-char {
        font-size: 16px;
    }

    .normal-char {
        font-size: 16px;
    }
}

.previous-step-button-class {
    width: 132px;
}

.group-map-gui {
    margin-top: 5px;
}

.msg-normal {
    font-weight: bold;
    font-size: 16px;
    color: #66D07C;
}

.msg-warning {
    font-weight: bold;
    font-size: 16px;
    color: #fdb812;
}

.list-of-items {
    margin-bottom: 2px;
}

.clickable {
    cursor: pointer;
}
